

// colors start
$EbonyClay: #222831;
$BlueZodiac: #10375C;
$WaikawaGray: #5c7292;
$Orange: #FF5722;
$White: #fff;
$Grenadier: #DD2C00;
$DoveGray: #6A6A6A;
$BlueZodiac_2: #0D2C4A;
$Crusta: #f76d44;
$Black: #000;
$DustyGray: #9A9A9A;
$Alabaster: #F8F8F8;
$Alto: #DFDFDF;
$white_opacity: rgba(255, 255, 255, .5);
$WhiteOpacity_35: rgba(255, 255, 255, .35);
// corons end

$LinerGradient: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, rgba(196, 196, 196, .2) 49.9%, rgba(196, 196, 196, .2) 60%, rgba(0, 0, 0, 0) 60% ), linear-gradient(45deg, rgba(196, 196, 196, .2) 10%, rgba(0, 0, 0, 0) 10% );
$LinerGradientSquare: repeating-linear-gradient(50deg,rgba(255,87,34,.7) 0,rgba(255,87,34,.7) 2px,transparent 0px,transparent 34px);










